.alert {
  margin: 8px auto;
  padding: 12px 16px;
  border-radius: 6px;
  color: white;

  max-width: 600px;
  box-sizing: border-box;

  color: white;
}

.is-outlined {
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.is-elevated {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.alert--info {
  background-color: rgb(31, 72, 206);
}
.alert--success {
  background-color: green;
}
.alert--error {
  background-color: red;
}
.alert--warning {
  background-color: orange;
}

.alert.is-outlined {
  outline: 1px solid black;
}

.alert.is-elevated {
  box-shadow: rgb(0 0 0 / 20%) 0px 3px 3px -2px,
    rgb(0 0 0 / 14%) 0px 3px 4px 0px, rgb(0 0 0 / 12%) 0px 1px 8px 0px;
}
