.alert {
  margin: 8px auto;
  padding: 12px 16px;
  border-radius: 6px;
  max-width: 600px;
  box-sizing: border-box;
  color: white;
}

.info {
  background-color: rgb(31, 72, 206);
}

.success {
  background-color: green;
}

.error {
  background-color: red;
}

.warning {
  background-color: orange;
}

.alert.isOutlined {
  border: 2px solid rgba(0, 0, 0, 0.25);
}

.alert.isElevated {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
