/* global styles */
body {
  font-family: sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.my-icon {
  color: #333;
  margin-right: 8px;
  vertical-align: middle;
}
.my-icon:hover {
  color: #007acc;
}
